<div class="row">
  <% for post in @posts %>
    <div class="col-md-3 col-sm-6">
      <h4>
        <% if post.user %>
          <%= post.user.first_name %>
        <% else %>
          anonymous
        <% end %>
      </h4>
      <img src="<%= post.image %>" class="img-fluid">
      <p><%= post.body %></p>
    </div>
  <% end %>
</div>